<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <h1>Multiplicação</h1>
        <form action="/calcular/multiplicacao" method="post">
            <label for="valor1">Valor 1:</label>
            <input type="number" id="valor1" name="valor1" required><br>
            <label for="valor2">Valor 2:</label>
            <input type="number" id="valor2" name="valor2" required><br>
            <button type="submit">Calcular Multiplicação</button>
        </form>
        
    </div>
</body>
</html>